[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backups = {editable = true, file = "file:///Users/pedro/code/ptdorf-backups"}
pytest = "*"
coverage = "*"
codecov = "*"
twine = "*"
PyYAML = "*"

[dev-packages]

[requires]
python_version = "3.9"
